body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 115%;
}
header {
    background-color: #feeeee;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content:space-evenly;
    gap: 10px;
    padding-top: 70px;
}

div.skip-main{
    top: 0px;
    right: 0px;
    width: 30%;
    position: absolute;
    background-color: #ffffff;

}

.logo {
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px;
}
main {
    background-color: #feeeee;
    font-size: 20px;

}

footer {
    background-color: #f0f0f0;
    text-align: left;
    color: #777;
}
h1{
    width: 20px;
    font-size: 30px;
    word-wrap: break-word;
    
}
h2 {
    width: 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: #333;
    word-wrap: break-word;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h3 {
    font-size: 40px;
    color: #555;
    text-align: center;
    margin-left: 20px;
}
h4 {
    font-size: 30px;
    color: #777;
    text-align: center;
    margin-left: 20px;
    line-height: 1.5;
}
p {
    font-size: 18px;
    color: #555;
    text-align: left;
    margin-left: 20px;
    line-height: 1.5;
    width: 70%;
}
ol {
    font-size: 18px;
    text-align: left;
    line-height: 1.5;
}
a {
    color: #e07070;
    text-decoration: none;
}
a:hover {
    color: #f97878;
    text-transform: uppercase;
}
nav {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    border-radius: 2em;
    border: 2px solid #333;
    column-gap: 10px;
}
nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
}
nav a:hover {
    color: #ffffff;
}
div.text-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: linear-gradient(to bottom, #feeeee, #ffffff);
}
div.text-container-box ul{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background: linear-gradient(to bottom, #feeeee, #ffffff);
    list-style-type: none;
}

li:nth-child(3n+1){
    border: 2px solid #ffb1b1;
    padding: 20px;
}

li:nth-child(3n+2){
    border: 2px solid #ffffff;
    background-color: #ffdcdc;
    padding: 20px;
}
li:nth-child(3n+3){
    border: 2px solid #000000;
    background-color: #000000;
    color: #ff9a9a;
    border-radius: 90px;
    padding: 20px;
}

li:hover{
    border: 10px;
    padding: 20px;
    
}

.grid {
    width: 80%;
    display:grid;
    grid-template-columns: 50% 30%;
    align-items:center;
    row-gap: 10px;
    column-gap: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    padding: 20px;
}
.flex {
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    gap: 10px;
}
.flex img{
    width: 10%;
    height: 10%;
}

.on{
    color:#e07070;
}
.off{
    color:#ffffff;
}

img:hover{
    transform:scale(120%);
}
img {
    border: #ffd6d6 solid 2px;
    border-radius: 90px;
    padding: 2px;
}


table {
    border-collapse: collapse;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

}
th, td {
    padding: 15px;
    display: outline;
    border: 1px solid #ddd;
}